.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    width: 50%;
    display: inline-block;
    vertical-align: top;
    min-width: 350px;

    
}

.form_control label{
    margin-bottom: 0.5%;
    font-weight: bold;
    display: block;
    
}

.form_control input{
    
    border-radius: 0;
    border: 1px solid gray;
    width: 80%;

}
.form_control input::placeholder{
    color: gray;
}
