.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/img1.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 2em;
}


.tituloBanner{
    text-align: center;
    font-size:10ch;
    color: white;
}

