.paragrafoBox{
    color: black;
    font-size: 1ch;
    text-align: center;
    padding: 4%;
}
.caixa{
    background-color:aliceblue;
    width: 280px;
    height: 420px;
    border: 1px solid gray;
    float: left;
    margin: 2%;

   

}
.titulo{
    text-align: center;
}
.btnVerMais{
    width: 100px;
    height: 40px;
    background-color: #B607FF;
    color: white;
    border: 0ch;
}
.ft{
    width: 100%;
    height: 210px;
}
.info{
    text-align: center;
    padding-bottom: 10%;
}
