.footer{
    background-color: #B607FF;
    width: 100%;
    text-align: center;
}
.esquerda{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
}
.direita{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
}

.direita div{
    text-align: center;
}

.footer p{
    font-size: 2ch;
    margin-left: 15%;
    margin-right: 15%;
}
.footer h1{
    color: black;
    text-align: center;
}